black==22.6.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cloudpickle==2.2.1
contourpy==1.0.7
cycler==0.11.0
fonttools==4.38.0
gym==0.21.0
gym-notices==0.0.8
importlib-metadata==4.13.0
kiwisolver==1.4.4
matplotlib==3.6.3
mypy-extensions==0.4.3
numpy==1.24.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
packaging==23.0
pandas==1.5.3
pathspec==0.9.0
Pillow==9.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
six==1.16.0
stable-baselines3==1.7.0
tomli==2.0.1
torch==1.13.1
typing_extensions==4.4.0
zipp==3.12.0
